@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: white;
    align-items: center;
    border-bottom: 10px solid #FFDB7D;
}
header img {
    height: 70px;
    position: relative;
    left: 45%;
    right: 50%;
}

.appointment-board-sched {
    display: flex;
    margin: 2px;
    width: 100%;
}

i {
    margin-bottom: 15px;
}

.appointment-box {
    text-align: center;
    border-radius: 10px;
    border: 1px solid #B3B3B3;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.pending-items {
    border-bottom: 1px solid #B3B3B3;
    border-top: 1px solid #B3B3B3;
    align-items: center;
}

/* Remove the width property from the table to make it inherit the width of its parent */
table {
    font-family: arial, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

td, th {
    border: 1px solid #B3B3B3;
    text-align: left;
    padding: 8px;
}

th {
    border: none;
}

/* Hambuger Menu CSS */
.hamburger-menu {
    position: relative;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out;
}


/* Positioning the hamburger menu on the top left corner */
.hamburger-menu {
    position: absolute;
    top: 15px;
    left: 15px;
}

.hamburger-menu .menu-items {
    list-style: none;
    padding: 10;
    margin: 0;
    margin-top: 18px;
    position: absolute;
    top: 50px; /* Adjust this value to position the menu items below the hamburger menu */
    left: -20px; /* Adjust this value to position the menu items to the right of the hamburger menu */
    background-color: #F1F1F1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 998; /* Ensure it's above other elements except the hamburger menu */
    width: 500px;
    height: 800px;
    
    
}

a {
    text-decoration:none;
    color: red;
}

.hamburger-menu .menu-items li {
    padding: 30px;
    font-size: 30px;
    
    font-weight: 700;;
    
}

/* Show the menu items when the menu is active */
.show-menu .menu-items {
    transform: translateX(0);
    
}


/* Styling the navigation menu that slides from left to right */
.navigation-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}


.show-menu .navigation-menu {
    transform: translateX(0);
}


.show-menu .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.show-menu .bar:nth-child(2) {
    opacity: 0;
}

.show-menu .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
